body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #4CAF50, #2196F3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.filter-box {
    display: inline-block;
    margin-bottom: 15px;
}

.filter-box button {
    flex: 1;
    margin: 0 5px;
    background-color: #007bff;
}

.filter-box button:hover {
    background-color: #0056b3;
}








